<!DOCTYPE html>
<html>
<head th:replace="~{layout/plantilla :: head}">
    <title>Lista de Reparaciones</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header th:replace="~{layout/plantilla :: header}"/>
<table class="table">
    <thead>
    <tr>
        <th>Producto</th>
        <th>Precio Unitario</th>
        <th>Cantidad</th>
        <th>Subtotal</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reparacion : ${reparaciones}">
        <td th:text="${reparacion.producto}"></td>
        <td th:text="${reparacion.precio}"></td>
        <td th:text="${reparacion.cantidad}"></td>
        <td th:text="${reparacion.subtotal}"></td>
        <td><button type="button" class="btn btn-primary">Acción</button></td>
    </tr>
    </tbody>
</table>
<footer th:replace="~{layout/plantilla :: footer}"/>
</body>
</html>