<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/plantilla :: head}">
    <meta charset="UTF-8">
    <title>Modificar Catálogo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>
<header th:replace="~{layout/plantilla :: header}"/>
<div class="container mt-3">
    <h2>Modificar Catálogo</h2>
    <!-- Form to modify catalog items -->
    <form th:action="@{/catalogo/modificar}" th:object="${catalogo}" method="post">
        <div class="mb-3">
            <input type="hidden" th:field="*{id_catalogo}" />
            <label for="titulo" class="form-label">Título:</label>
            <input type="text" id="titulo" th:field="*{titulo}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción:</label>
            <input type="text" id="descripcion" th:field="*{descripcion}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="tipoArticulo" class="form-label">Tipo de Artículo:</label>
            <input type="text" id="tipoArticulo" th:field="*{tipoArticulo}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="imagen_catalogo" class="form-label">Imagen:</label>
            <input type="text" id="imagen_catalogo" th:field="*{imagen_catalogo}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="precio" class="form-label">Precio:</label>
            <input type="number" id="precio" th:field="*{precio}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="cantidad" class="form-label">Cantidad:</label>
            <input type="number" id="cantidad" th:field="*{cantidad}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
</div>
<footer th:replace="~{layout/plantilla :: footer}"/>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
